.Courses {
	padding: 2rem 0;
	font-family: 'ZCOOL XiaoWei', serif;
}

.Courses h2 {
	padding: 0 5rem;
}

.FeaturedCourse {
	font-family: 'Poppins', sans-serif;
	display: flex;
	justify-content: space-between;
	background-color: paleturquoise;
	padding: 2rem 5rem;
	margin: 1rem 0 2rem;
}

.Paragraph {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 8px;
}

.Ratings {
	display: flex;
	margin-bottom: 8px;
	align-items: center;
}

.Price {
	margin-right: 2rem;
	background-color: rgb(196, 196, 10);
	font-weight: 700;
	font-size: 14px;
	padding: 5px 10px;
}

.Stars {
	/* color: rgb(196, 196, 10); */
	font-weight: 700;
}

.CTA {
	display: flex;
	align-items: center;
	margin-top: 2rem;
}

.Btn {
	font-family: inherit;
	width: max-content;
	border: none;
	outline: none;
	padding: 12px 36px;
	background-color: #12007a;
	font-size: 18px;
	color: #fff;
	font-weight: 700;
	border-radius: 3px;
	cursor: pointer;
	margin-right: 2rem;
}

.CTALink {
	background: transparent;
	padding: 12px 36px;
	text-decoration: none;
	font-weight: 700;
	font-size: 18px;
	border-radius: 3px;
	color: #12007a;
	border: 1px solid #12007a;
	transition: all ease-in-out 0.4s;
}

.CTALink:hover {
	background-color: #fff;
}

.FeaturedCourseText {
	width: 40%;
}

.FeaturedCourseText h3 {
	font-size: 28px;
	margin-bottom: 8px;
}

.FeaturedCourseImage {
	width: 45%;
	height: min-content;

	padding: 1rem;
}

.FeaturedCourseImage img {
	width: 100%;
	object-fit: contain;
}

.NewCourses {
	padding: 2rem 5rem;
	margin: 0 0 2rem;
	display: flex;
	/* justify-content: space-between; */
	flex-wrap: wrap;
}

.Filters {
	padding: 1rem 5rem 0;
	display: flex;
	justify-content: space-between;
	width: 50%;
	font-family: 'Poppins', sans-serif;
}

.ModalContent {
	background-color: #fff;
	padding: 3rem;
	border-radius: 3px;
	text-align: center;
	font-family: 'Poppins', sans-serif;
}

.ModalContent h6 {
	font-family: 'Poppins', sans-serif;
	font-size: 16px;
	margin-bottom: 5px;
	text-align: center;
	font-weight: 400;
}

.ModalContent .Link {
	color: #12007a;
	text-decoration: none;
	font-weight: 700;
}
