.Header {
	display: flex;
	background-color: #a9e0da;
	padding: 4rem 5rem 0;
	min-height: 85vh;
	overflow: hidden;
	flex-wrap: wrap;
}

.HeaderText {
	width: 50%;
}

.HeaderText h1 {
	font-size: 48px;
	line-height: 1.25;
	margin-bottom: 2rem;
}

.HeaderText p {
	font-size: 22px;
	line-height: 1.5;
	margin-bottom: 2rem;
}

.HeaderText a {
	background-color: #faa600;
	padding: 12px 24px;
	color: #fff;
	text-transform: capitalize;
	font-family: inherit;
	text-decoration: none;
	font-weight: 700;
	border-radius: 3px;
}

.HeaderImage {
	flex: 1;
	display: flex;
	justify-content: center;
	text-align: center;
}

.HeaderImage img {
	height: 90%;
	align-self: flex-end;
}

.Checklist {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #eee;
	padding: 0 5rem;
	font-size: 18px;
}

.Checklist p {
	padding: 1.5rem 2rem;
}

.Checklist p:not(:last-child) {
	border-right: 1px solid #aaa;
}
