.CourseDetails {
	display: flex;
	justify-content: space-between;
	background-color: #67daf7;
	padding: 5rem 5rem;
}

.CourseImage {
	width: 40%;
}

.CourseDetailsText {
	width: 45%;
}

.CourseDetailsText h3 {
	font-size: 24px;
	margin-bottom: 1rem;
}

.CourseDetailsText p {
	font-size: 16px;
	line-height: 1.5;
}

.PriceBox {
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: #eee;
	padding: 1rem 5rem;
}

.PriceBox p {
	font-weight: 700;
}

.PriceBox button {
	background-color: #faa600;
	border: none;
	outline: none;
	padding: 12px 36px;
	text-transform: capitalize;
	font-weight: 700;
	border-radius: 4px;
	cursor: pointer;
	font-family: inherit;
	font-size: 16px;
	color: #fff;
}

.Features {
	padding: 5rem;
	display: flex;
	justify-content: space-between;
}

.FeatureBox {
	width: 30%;
	padding: 1rem;
}

.FeatureBox h6 {
	color: #faa600;
	font-size: 24px;
	margin-bottom: 1rem;
}

.FeatureBox p {
	font-size: 16px;
	line-height: 1.5;
}

.FeatureBox ul {
	list-style: none;
}

.FeatureBox ul li {
	line-height: 1.5;
	margin-bottom: 1rem;
}

.FeatureBox:not(:last-child) {
	border-right: 1px solid #ccc;
}
