.CartIcon {
	/* background-color: #12007a; */
	border-radius: 50%;
	height: 2rem;
	width: 2rem;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-right: 3rem;
}

.CartIcon svg {
	height: 1.5rem;
	width: 1.5rem;
	fill: #12007a;
}

.CartIcon span {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #12007a;
	font-size: 10px;
	font-weight: 700;
	color: #fff;
	padding: 3px;
	border-radius: 100%;
	height: 14px;
	width: 14px;
	display: flex;
	align-items: center;
}
